{% extends '../layouts/main.html' %}

{% block title %}
{{ __("Log In") }}
{% endblock %}

{% block footer %}
{% parent %}

{% endblock %}

{% block content %}
<div class="container">
    <div id="content"></div>
    {{JSON.stringify(data)}}
    <form method="post" action="/login">
        <input type="text" name="email" placeholder="Email">
        <input type="password" name="password" placeholder="Пароль">
        <button class="btn" type="submit"> Войти</button>
    </form>
</div>
{% endblock %}
