<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/" name="top"><img src="/images/logo.png"></a>
    </div>
    <div class="navbar-collapse collapse">
        <ul class="nav navbar-nav">
            {% if !isGuest %}
            <li><a href="/">{{ __("Home") }}</a></li>
            <li><a href="/user">{{ __("Users") }}</a></li>
            <li><a href="/region">{{ __("Regions") }}</a></li>
            <li><a href="/area">{{ __("Areas") }}</a></li>
            <li><a href="/placing">{{ __("Placings") }}</a></li>
            <li><a href="/zone">{{ __("Zones") }}</a></li>
            <li><a href="/zone-user">{{ __("Zones Users") }}</a></li>
            <li><a href="/vendor">{{ __("Vendors") }}</a></li>
            <li><a href="/model">{{ __("Models") }}</a></li>
            <li><a href="/type">{{ __("Types") }}</a></li>
            <li><a href="/service-type">{{ __("Services Types") }}</a></li>
            <li><a href="/service-category">{{ __("Services Categories") }}</a></li>
            <li><a href="/maintenance">{{ __("Maintenances") }}</a></li>
            {% endif %}

            {% if isGuest %}
            <li><a href="/login">{{ __("Log in") }}</a></li>
            {% endif %}

            {% if !isGuest %}
            <li><a href="/logout">{{ __("Log out") }}</a></li>
            {% endif %}
        </ul>
    </div>
</nav>
<!--/.navbar -->
